ASPNETCORE_ENVIRONMENT=Development
DOTNET_ENVIRONMENT=Development

POSTGRES_DB=dso
POSTGRES_USER=dso
POSTGRES_PASSWORD=dso_password
POSTGRES_PORT=5432
DMO_DATABASE_CONNECTION=Host=postgres;Port=5432;Database=dso;Username=dso;Password=dso_password;Search Path=dso;

SERVER_BACKLOG=5
CHARACTER_SERVER_ADDRESS=127.0.0.1
GAME_SERVER_ADDRESS=127.0.0.1
GAME_PUBLIC_ADDRESS=127.0.0.1
CHARACTER_PUBLIC_PORT=17050
GAME_PUBLIC_PORT=17608
DSO_FATIGUE_ENABLED=false

ACCOUNT_PORT=17029
CHARACTER_PORT=17050
GAME_PORT=17608
API_PORT=15189
ADMIN_PORT=15000

ACCOUNT_INTERNAL_PORT=17029
CHARACTER_INTERNAL_PORT=17050
GAME_INTERNAL_PORT=17608
API_INTERNAL_PORT=5189
ADMIN_INTERNAL_PORT=5000
